@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* //To include the padding and border in an element's total width and height */
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
}

.classement-title {
  text-align: center;
}

.left-column {
  flex: 1;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.middle-column {
  flex: 1;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right-column {
  flex: 1;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 20px;
}

.flex1 {
  flex: 1;
}

.movie-card {
  display: flex;
  align-items: center;
  /* padding-bottom: 2px; */
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.movie-image {
  width: 75px;
  height: 105px;
  margin-right: 10px;
}

.movie-info {
  flex: 1;
}

.movie-title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.movie-year {
  margin: 0;
  font-size: 14px;
  color: #888;
}

.movie-rating {
  margin: 0;
  font-size: 14px;
  color: #888;
}

.round-poster {
  border-radius: 0 5px 5px 5px;
}

/* background color */
.bg-black {
  background-color: #0f0f0f;
}

.bg-white {
  background-color: #fff;
}

/* hover color */
.hover-grey:hover {
  color: grey;
}

.hover-black:hover {
  color: black;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.margin-27pc {
  margin: 0% 27% 0% 27%;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-58 {
  margin-bottom: 58px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.wrapper {
  height: auto;
  padding: 20px;
  width: 100%;

  flex-grow: 1;
  /* the wrapper will grow as much as possible automatically, pr que le footer soit tt en bas */
  box-sizing: border-box;
  /* //To include the padding and border in an element's total width and height, pr éviter overflow (ascenseur horizontal) */
}

.border-top {
  border-top: 1px solid #ccc;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  /* color: #000; */
  font-weight: bold;
  cursor: pointer;
  margin : 10px 10px; 
}

.button:hover {
  background-color: #f0f0f0;
}